
<p id="notice" class="text-center"><%= notice %></p>

<div class="text-center">
<p>
  <strong>Date:</strong>
  <%= @turn.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @turn.time %>
</p>

<!--<p>-->
  <!--<strong>Name:</strong>-->
  <!--<%#= @turn.name %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Patient:</strong>-->
  <!--<%#= @turn.patient %>-->
<!--</p>-->

<%#= link_to 'Edit', edit_turn_path(@turn) %>
<%#= link_to 'Back', turns_path %>
  <a class="btn btn-large" href="<%=root_path%>">Volver a la página</a>


</div>  </br>
