<div class="body">
  <div class="body-round"></div>
  <div class="body-wrapper">
    <div class="side-shadows"></div>
    <div class="content">
<div class="container">
  <div class="sixteen map columns">
    <iframe width="100%" height="260" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=google&amp;aq=&amp;sll=37.6,-95.665&amp;sspn=38.949025,86.572266&amp;ie=UTF8&amp;hq=google&amp;hnear=&amp;t=m&amp;cid=10048610331046050672&amp;ll=40.744071,-74.002533&amp;spn=0.02276,0.036564&amp;z=14&amp;output=embed"></iframe>
  </div>
  <div class="sixteen columns"><span class="hr mapdv"></span></div>
  <div class="five columns">
    <h5 class="semi">Más Información</h5>

    <p>In id odio justo, eu aliquet odio, nunc viverra ligula</p>

    <h5 class="semi">Información de contacto</h5>

    <p>
      Buenos Aires 5120,<br/>
      Villa Ballester
      <span class="hr"></span>
      Celular: 15-5465-0775<br/>
      Email: contacto@nutricionparatodos.com.ar<br/>
      Web: www.nutricionparatodos.com.ar
    </p>

    <h5 class="semi">Testimonios</h5>
    <ul class="slide testimonials clr overlap">
      <li>
        <p>Mia Web Designs' willingness to help make the best website for us was outstanding. We
          highly recommend Mia Web Designs.
          <strong>Nico Tigulis</strong></p>
      </li>

    </ul>

  </div>
  <div class="contact eleven columns">
    <div class="standard-form compressed">
      <h4 class="semi">Completa tus datos para contactarnos:</h4>

      <div class="form-result"></div>
      <form action="#" class="contactForm" id="contactus" name="contactus">
        <input type="text" class="input" id="name" name="name" placeholder="Name *"/>
        <input type="text" class="input" id="email" name="email" placeholder="Email *"/>
        <input type="text" class="input extend" id="subject" name="subject" placeholder="Subject"/>
        <textarea name="comment" id="comment" rows="10" cols="65"
                  placeholder="Message *"></textarea>

        <div class="submit">
          <button type="submit" class="btn btn-success">Enviar</button>
        </div>
        <div class="Borrar"></div>
      </form>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
