<div class="body">
  <div class="body-round"></div>
  <div class="body-wrapper">
    <div class="side-shadows"></div>
    <div class="content">
      <div class="container callout">
<div class="sixteen columns">
  <div> <!-- important if sidebar is on the right -->
    <div class="offset5 span5">
      <img class="scale-with-grid" src="/assets/perfil/perfil.png"/>
      <!--<a href="images/untouched/train.jpg" class="zoom prettyPhoto"></a>-->
    </div>
    <h2 class="text-center">Licenciada Vanina Minniti - Perfíl</h2>


    <span class="hr lip-quote"></span>
    <h5 class="title text-center">OBJETIVOS LABORALES</h5>

    <p>Deseo trabajar en el área de nutrición clínica, en consultorio externo, realizando la evaluación nutricional
      de los mismos, la identificación de necesidades y problemas, planificación de objetivos nutricionales y su
      priorización, implementación del plan de cuidado nutricional y monitoreo del mismo.</p>

    <p>Deseo también realizar actividades de docencia y educación en el área de cocina y dictado de charlas de
      reflexión para pacientes en la misma institución si fuere posible.</p>

    <p>Desearía formar parte de su organización para poder desarrollar mis conocimientos con posibilidad de crecer
      profesionalmente en un buen ambiente laboral</p>

    <span class="hr lip-quote"></span></br>
    <h5 class="title text-center">FORMACIÓN ACADÉMICA</h5>

    <p class="text-center">Licenciada en Nutrición, Facultad de Medicina - Universidad de Buenos Aires (UBA), egresada 2013</p>

    <p class="text-center">Secundario: Bachiller en humanidades y ciencias sociales</p>
    <span class="hr lip-quote"></span></br>

    <h5 class="title text-center">EXPERIENCIA LABORAL</h5>

    <p class="text-center">Prácticas obligatorias para Licenciatura en Nutrición Universidad de Buenos Aires (UBA):</p>

    <p class="text-center"><strong>Hospital Melchor Angel Posse</strong>, localidad de San Isidro </p>

    <p class="text-center">Experiencia en recorrido de Unidades y lectura de prescripciones medicas, dietas de alta y consultorio
      externo.</p>

    <p class="text-center">Desde Marzo de 2013 a Junio de 2013.</p><br/>

    <p class="text-center"><strong>ROA.</strong> Experiencia como administrativa contable, facturación, atención al cliente,
      proveedores, manejo de
      tango.</p>

    <p class="text-center">Desde Mayo de 2011 a Mayo de 2012</p></br>

    <p class="text-center"><strong>TRINARIO.</strong>Experiencia en sector cobranzas (Compañía financiera Argentina, Estándar bank)</p>

    <p class="text-center">Recepcionista (atención de teléfono con múltiples líneas, transferencia de llamadas telefónicas, programación
      de citas, manejo de problemas de clientes).</p>

    <p class="text-center">Experiencia en sector ventas: vendedora de cursos médicos para la Editorial médica Panamericana, capacitación
      para nuevos empleados, atención telefónica y personal al cliente)</p>

    <p class="text-center">Desde diciembre de 2008 a Junio de 2010</p></br>

    <p class="text-center"><strong>Docente de Fisiología en Facultad de Medicina, Universidad de Buenos Aires</strong>, desde 2009 hasta la actualidad.</p>
    <p class="text-center">Prácticas Ad Honorem, Hospital Eva Perón (ex castex),Ruta 8 y Diego Pombo 1650.Experiencia en lectura de órdenes
      médicas, extracción en laboratorio.</p>
    <p class="text-center">Desde Julio de 2007 a Diciembre de 2007</p>

    <span class="hr lip-quote"></span>


    <blockquote class="full">En mi experiencia laboral me tope con muchos desafíos pero siempre logre sobrellevarlos.
    </blockquote>

    <h5 class="title text-center">CURSOS Y ESPECIALIZACIONES</h5>
    <ul class="accordion" id="1">
      <li>
        <div class="parent">
          <h6>Paquete de office</h6>
        </div>
        <div class="tcontent">
          Windows, Word, Excel, Power Point.
        </div>
      </li>
      <li>
        <div class="parent">
          <h6>Software administrativo</h6>
        </div>
        <div class="tcontent">
          Tango
        </div>
      </li>
      <li>
        <div class="parent">
          <h6>Idiomas</h6>
        </div>
        <div class="tcontent">
          Ingles nivle intermedio.
        </div>
      </li>

      <li>
        <div class="parent">
          <h6>Extraccionista de laboratorio</h6>
        </div>
        <div class="tcontent">
          Instituto de capacitación profesional (ICP), extraccionista de laboratorio
        </div>
      </li>
    </ul>
  </div>
</div>
      </div>
    </div>
  </div>
</div><br/>
