<div class="container text-center">
  <% if !alert.nil?%>
      <div class="alert">
        <%= alert %>
      </div>
  <%end%>
  <h1>Completa o actualiza tus datos</h1>
  <h2>Paciente:<%=current_patient.lastname %></h2>
  <div class="span12">
  <div class="offset4 span4  offset4">

  <div class="text-center">


    <%= render 'form' %>

<%#= link_to 'Show', @patient %>
<%#= link_to 'Back', patients_path %>

  </div>
    </div>
  </div>
</div>