<h2 class="text-center">Completa o actualiza tus datos</h2>
<div class="row-fluid text-center"></br>
  <div class="span12">
    <div class="row-fluid">
      <div class="offset4 span4 offset4">


        <%= render 'form' %>

        <!--<a class="btn btn-large" href="<%#= patient_path(@patient) %>">Ver mis datos</a>-->

      </div>
    </div>
  </div>
</div>