// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
html {

  background-color: #d0d2cb;
}

#wrapper {

  background-color: #d0d2cb;
}

table.index_table td {
  padding: 7px 10px 7px 25px;
  border-bottom: 2px solid #000000;
  vertical-align: top;
}

#header {
  background: #E3E8EB;
  background: -webkit-linear-gradient(-90deg, #000000, #4d5256);
  background: -moz-linear-gradient(-90deg, #6a7176, #4d5256);
  background: linear, -90deg, #6a7176, #4d5256;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6A7176', endColorstr='#FF4D5256');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6A7176', endColorstr='#FF4D5256');
border-bottom: 1px solid #44484b;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
text-shadow: black 0 1px 0;
display: table;
height: 20px;
width: 100%;
overflow: visible;
position: inherit;
padding: 5px 0;
z-index: 900;
  }
